<h1>hola soy la pagina de galeria</h1>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur harum temporibus in minima, quas ipsam optio
    sequi expedita minus amet laboriosam commodi perspiciatis, distinctio architecto labore corporis quasi cumque
    assumenda!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur harum temporibus in minima, quas ipsam optio
    sequi expedita minus amet laboriosam commodi perspiciatis, distinctio architecto labore corporis quasi cumque
    assumenda!</p>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur harum temporibus in minima, quas ipsam optio
    sequi expedita minus amet laboriosam commodi perspiciatis, distinctio architecto labore corporis quasi cumque
    assumenda!</p>